.initiate-friendship, .initiate-membership{
    color: rgb(0, 165, 0);
    border: 1px solid rgb(0, 165, 0);
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box;
}

.initiate-friendship:hover, .initiate-membership:hover{
    color: #fff;
    border: 1px solid rgb(0, 165, 0);
    background-color: rgb(0, 165, 0);
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box;
}

.search{
    border: 1px solid green;
}