.message-list-wrapper{
    flex: 1;
    overflow-y:auto;
}

.message-list{
    display: flex;
    height: 100%;
    flex-direction:column;
    justify-content: flex-end;
    gap: 12px;
    box-sizing: border-box;
}

.new-channel-thing{
    background-color: #41434a;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    box-sizing: border-box;
}

.new-channel-thing img{
    height: 36px;
}

.message-list-welcome{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.list-separator{
    width: 100%;
    box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar{
    width: 4px;

}
::-webkit-scrollbar-track {
    background: #2b2d31;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: #1a1b1e;
    width: 4px;
    border-radius: 4px;
  }
  