.search-bar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 70%;
    background-color: rgba(30,31,35,255);
    padding: 4px;
    border-radius: 4px;
    box-sizing: border-box;
}
.search-bar input:focus{
    outline: none;
}

.search-bar input{
    height: 100%;
    box-sizing: border-box;
}

.search-bar img{
    height: 60%;
}

.search-form{
    display: flex;
    flex-direction: column;
}

.search-form-b{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px;
}
.search-area button{
    width: 30%;
    margin: 0;
}