.message-item{
    display: flex;
    text-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    padding: 6px;

}

.message-item:hover{
    background-color: rgba(30,31,35, 0.2);

}

.message-item:hover .message-options{
    visibility: visible;
}

.message-header{
    font-size: 16px;
    display: inline-flex;
    width: auto;
    height: 20px;
    gap: 10px;

}

.message-author{
    font-weight: 500;
    color: #f2f3f5;
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.message-body{
    color: #DBDEE1;
    text-wrap: wrap;
    line-height: 20px;
    margin-left: 80px;
    vertical-align: middle;
    width: 100%;
    box-sizing: border-box;
}

.message-time{
    font-size: 12px;
    text-align: right;
    margin-left: 8px;
    display: flex;
    align-items: baseline;
    position: absolute;
    left: 20px;
    top: 6px;
    color:#B5BAC1;
    font-weight: 500;
}

.message-options{
    position:absolute;
    right: 10px;
    top: -28px;
    display: flex;
    background-color: #242529;
    border-radius: 8px;
    visibility: hidden;
    transition: all 0.2s ease;

}

.message-options img{
    width: 18px;
    padding: 8px;
}

.message-options img:hover{
    background-color: #44474e6c;
    border-radius: 6px;
    cursor:pointer;
}

.message-attachment img{
    margin: 8px;
    border-radius: 20px;
    max-width: 60%;
}
