.bottom-left{
    display: flex;
    background-color:#1E1F22;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    /* justify-self: flex-end */
}

.user-options{
    width: 28px;
    height: 28px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: all 0.2s ease;
    border-radius: 6px;
}

.user-options:hover{
    background-color: rgba(255, 255, 255, 0.2);
    /* border-radius: 10px; */
    cursor: pointer;
}

.user-options img{
    width: 60%;
}