/* .thick{
    grid-area: right-panel;
    background-color: #2b2d31;
    
}

.thin{
    grid-area: right-panel;
    background-color: #2b2d31;
    width: 240px;
} */

.right-base{
    display: none;
}

.visible{
    display: block;
    width: fit-content;
    height: 100%;
    box-sizing: border-box;
    border-left: 1px solid rgba(128, 128, 128, 0.349);
}