
/* @font-face {
    font-family: gg sans;
    src: url('./assets/fonts/GGsans-Regular.ttf') format('truetype'),
        url('./assets/fonts/GGsans-Bold.ttf') format('truetype'),
        url('./assets/fonts/GGsans-Medium.ttf') format('truetype'),
        url('./assets/fonts/GGsans-Semibold.ttf') format('truetype');
} */


@font-face {
    font-family: 'gg sans';
    src: url('./assets/fonts/GGsans-Regular.ttf') format('truetype');
    font-weight: 400; 
}

@font-face {
    font-family: 'gg sans';
    src: url('./assets/fonts/GGsans-Bold.ttf') format('truetype');
    font-weight: 700; 
}
  
@font-face {
    font-family: 'gg sans';
    src: url('./assets/fonts/GGsans-Medium.ttf') format('truetype');
    font-weight: 500; 
}

@font-face {
    font-family: 'gg sans';
    src: url('./assets/fonts/GGsans-Semibold.ttf') format('truetype');
    font-weight: 600; 
}

@font-face{
    font-family: 'ginto nord';
    src: url('./assets/fonts/GintoNord-Bold.otf') format('opentype');
    font-weight: 800;
}

html{
    font-family: gg sans;
    color: #B5BAC1;
}