
/* @font-face {
    font-family: gg sans;
    src: url('./assets/fonts/GGsans-Regular.ttf') format('truetype'),
        url('./assets/fonts/GGsans-Bold.ttf') format('truetype'),
        url('./assets/fonts/GGsans-Medium.ttf') format('truetype'),
        url('./assets/fonts/GGsans-Semibold.ttf') format('truetype');
} */


@font-face {
    font-family: 'gg sans';
    src: url('./assets/fonts/GGsans-Regular.ttf') format('truetype');
    font-weight: 400; /* Normal / Regular */
}

@font-face {
    font-family: 'gg sans';
    src: url('./assets/fonts/GGsans-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
}
  
@font-face {
    font-family: 'gg sans';
    src: url('./assets/fonts/GGsans-Medium.ttf') format('truetype');
    font-weight: 500; 
}

@font-face {
    font-family: 'gg sans';
    src: url('./assets/fonts/GGsans-Semibold.ttf') format('truetype');
    font-weight: 600; 
}

body{
    font-family: gg sans;
}