/* .splash-page-wrapper{
    background-color:rgba(64,78,237,255);
    background-image: url('../../assets/img/hills.svg');
    width: 100vw;
    height: 100vh;
    background-size: 200% auto;
    background-repeat: no-repeat;
    background-position: -50vw bottom;
}
 */

.splash-page-wrapper{
    width: 100vw;
    height: 100vh;
    background:
        url('../../assets/img/left.svg') no-repeat -10vw bottom,
        url('../../assets/img/right.svg') no-repeat right bottom,
        url('../../assets/img/hills.svg') #404eed no-repeat -50vw bottom / 200% auto;

    display: flex;
    align-items: center;
}

.welcome-msg h1{
    font-family: 'ginto nord';
    text-transform: uppercase;
    font-size: 56px;
    color:#fff;
    margin-bottom: 24px;
    text-align: center;
}